# Created by venv; see https://docs.python.org/3/library/venv.

*.db
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
.eggs/
dist/
build/
pip-wheel-metadata/
*.egg-info
.installed.cfg
lib/
lib64/
include/
pyvenv.cfg
.env
*-ORIG